@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";


:root {
  --background: #F1F8E9;
  --foreground: #333333;
  --font-rubik: 'Rubik', Arial, Helvetica, sans-serif;
  --black-color: #333333;
  --green-color: #085209;
  --white-color: #FFFFFF;
  --light-grey-color: #33333380;
  --dark-grey-color: #666666;
}

html[data-theme="inline"] {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-rubik);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-rubik);
  color: var(--black-color);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.animate-move-left {
  @keyframes move-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  animation: move-left 0.5s ease-in-out forwards;
}

.animate-transition-left {
  transition: transform 0.3s;
  transform: translateX(-40%);
}

.animate-transition-right {
  transition: transform 0.3s;
  transform: translateX(20%);
}

.animate-move-right {
  @keyframes move-right {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(20%);
    }
  }
  animation: move-right 0.5s ease-in-out forwards;
}