@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";


:root {
  --background: #F1F8E9;
  --foreground: #333333;
  --font-rubik: 'Rubik', Arial, Helvetica, sans-serif;
  --black-color: #333333;
  --green-color: #085209;
  --white-color: #FFFFFF;
  --light-grey-color: #33333380;
  --dark-grey-color: #666666;
}

html[data-theme="inline"] {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-rubik);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-rubik);
  color: var(--black-color);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
